extends ../layout.pug
block breadcrumb 
    //-  li
    //-      a(href='#')
    //-          em.fa.fa-home &nbsp;
    //-  li(class='active') Liste des biens
        
block content
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 Liste des biens
        .btn-toolbar.mb-2.mb-md-0
            a.btn.btn-small.btn-primary(href="/admin/product") Ajouter un bien
    div
        table.table.table-dark
            thead
                tr 
                    th Contact
                    th Adresse
                    th Email
                    th Mobile
                    th
                    th
                each product in list
                    tr
                        td 
                            a(target="_blank" href="mailto:"+product.contact.email) #{product.contact.lastname} #{product.contact.firstname}
                        td #{product.address.address1} #{product.address.zipcode}
                        td= product.contact.email
                        td= product.contact.mobile
                        td.deleteButton
                            a(href='/admin/realty/delete?id='+product._id) Supprimer
                        td.editButton
                            a(href='/admin/realty/edit?id='+product._id) Modifier